.darkMode {
    .jobs {
        background-color: $color-dark-6;

        .jobs__content {
            .border-right {
                border-right: 1px solid $color-dark-2 !important;
            }

            .jobs__item {
                h2 {
                    color: $color-dark-5;
                }
            }
        }
    }
}