/* GLOBAL */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #717171;
}

/* Line style at navbar */
.line::after {
    content: '';
    width: 0;
    height: 3px;
    /*  linear-gradient: gradient color
        1st value - spread direction
        left to right: to right
        right to left: to left
        top to bottom: to bottom
        bottom to top: to top 
        
        It depends on the color spread direction 
        2nd value - starting color (left)
        3rd value - ending color (right) 
    */
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    display: block;
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all .5s;
}

.line:hover::after {
    width: 100%;
}

.line.active::after {
    width: 100%;
}

/* HEADER */
header p {
    font-size: 14px;
    font-weight: 700;
}

#movieNavBar .navbar-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#movieNavBar .navbar-nav .nav-link {
    color: white;
    letter-spacing: 3px;
    line-height: 0.8em;
    padding: 20px 24px;
}

/* CAROUSEL */
#carouselMovie .carousel-item .carousel-caption {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

/* first-child : order in priority, then type of tags (type here is p) */
/* first-of-type : type of tags in priority, then order */
#carouselMovie .carousel-item .carousel-caption p:first-of-type {
    color: #fbbd61;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 0;
}

/*  If we call p:last-child -> div will be called, not p
    If we call p:last-of-type -> p will be called */
#carouselMovie .carousel-item .carousel-caption p:last-of-type {
    font-size: 1.125rem;
    margin-bottom: 20px;
}

#carouselMovie .carousel-item .carousel-caption h2 {
    font-size: 3.25rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.movieCarousel__trailer>span {
    border: 2px solid white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 0.8rem;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    margin-right: 8px;
}

.movieCarousel__trailer button {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    letter-spacing: 4px;
    color: white;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    position: relative;
    overflow: hidden;
    outline: none;
}

.movieCarousel__trailer button:hover {
    color: white;
}

/* Step 1: Build overlay covers parent tag (button) */
.movieCarousel__trailer button::before {
    content: '';
    width: 110%;
    height: 100%;
    background-color: #ec7532;
    position: absolute; 
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    transform: skewX(30deg) translateX(-110%); /*not yet hover*/
    transition: all .5s;
} 

.movieCarousel__trailer button:hover::before {
    transform: skewX(30deg) translateX(-10px);
}

.movieCarousel__trailer button span {
    position: relative;
    z-index: 2;
}

/* NEW IN */
/* SHOW TIME */
/* COMING SOON */
/* MOVIE LIST */
/* CONTACT */
/* FOOTER */