.categories {
    margin-top: $margin-4;

    .categories__content {
        width: 90%;
        margin: 0 auto;

        h2 {
            font-size: $font-size-5;
        }

        .row {
            .categories__item {
                padding: $padding-1;
                font-size: $font-size-3;
                border: 1px solid $color-black-1;
                margin-bottom: $margin-3;

                &:hover {
                    box-shadow: 0 0 1px 1px $color-black-1, 0 3px 1px 0 $color-black-1;
                }
            }
        }
    }
}