.students {
    padding: $padding-4 0;

    .students__content {
        width: 90%;
        margin: 0 auto;

        h2 {
            font-size: $font-size-5;
            margin-bottom: $margin-2;
        }
    }
}